In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [69]:
df = pd.read_csv('exp/results_both_both_both.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,sub_id,call_id,seg_id,pred_valence,pred_activation,gt_valence,gt_activation,seed,id,exp
0,0,0,2637001,38413,1,0.029232,0.059257,0.250000,0.166667,1,assessment_2637001_38413_1,assessment
1,1,1,2637001,38413,12,0.165131,0.009661,0.000000,0.000000,1,assessment_2637001_38413_12,assessment
2,2,2,2637001,38413,15,-0.160544,0.009010,0.000000,0.500000,1,assessment_2637001_38413_15,assessment
3,3,3,2637001,38413,18,0.155461,0.031854,0.166667,-0.166667,1,assessment_2637001_38413_18,assessment
4,4,4,2637001,38413,19,0.077447,0.079875,0.083333,0.166667,1,assessment_2637001_38413_19,assessment

In [25]:
def CCC(y_true, y_pred):
    cor=np.corrcoef(y_true,y_pred)[0][1]
    
    mean_true=np.mean(y_true)
    mean_pred=np.mean(y_pred)
    
    var_true=np.var(y_true)
    var_pred=np.var(y_pred)
    
    sd_true=np.std(y_true)
    sd_pred=np.std(y_pred)
    
    numerator=2*cor*sd_true*sd_pred
    denominator=var_true+var_pred+(mean_true-mean_pred)**2
    return numerator/denominator

def RMSE(y_true, y_pred):
    return np.sqrt(((y_pred - y_true) ** 2).mean())


def compute_metric_single(y_true, y_pred):
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    rmse = RMSE(y_true, y_pred)
    ccc = CCC(y_true, y_pred)
    pcc = stats.pearsonr(y_true, y_pred)[0]
    
    print("PCC:", pcc, '\tCCC:', ccc, '\tRMSE:', rmse)
    return {"PCC":pcc, 'CCC':ccc, 'RMSE':rmse}

In [63]:
df_assess = pd.read_csv('../data/data_assess_arr.csv')[['id']]
df_assess['exp'] = 'assessment'
df_personal = pd.read_csv('../data/data_personal_arr.csv')[['id']]
df_personal['exp'] = 'personal'
df_t = pd.concat([df_assess, df_personal])
len(df_t)
print(len(df_assess), len(df_personal))

8034 12028

In [54]:
df = df.merge(df_t, how='left', on='id')
df.head()

Empty DataFrame
Columns: [Unnamed: 0, sub_id, call_id, seg_id, pred_valence, pred_activation, gt_valence, gt_activation, seed, exp_x, id, exp_y]
Index: []

In [75]:
df.to_csv('exp/results_both_both_both.csv')

In [74]:
len(df)

100310

In [71]:
df_assess = df[df['exp']=='assessment']
df_personal= df[df['exp']=='personal']

In [72]:
print(len(df_assess)/5, len(df_personal)/5)

8034.0 12028.0

In [73]:
df.head()

,Unnamed: 0.1,Unnamed: 0,sub_id,call_id,seg_id,pred_valence,pred_activation,gt_valence,gt_activation,seed,id,exp
0,0,0,2637001,38413,1,0.029232,0.059257,0.250000,0.166667,1,assessment_2637001_38413_1,assessment
1,1,1,2637001,38413,12,0.165131,0.009661,0.000000,0.000000,1,assessment_2637001_38413_12,assessment
2,2,2,2637001,38413,15,-0.160544,0.009010,0.000000,0.500000,1,assessment_2637001_38413_15,assessment
3,3,3,2637001,38413,18,0.155461,0.031854,0.166667,-0.166667,1,assessment_2637001_38413_18,assessment
4,4,4,2637001,38413,19,0.077447,0.079875,0.083333,0.166667,1,assessment_2637001_38413_19,assessment

In [83]:
df = df_personal
print(len(df))
subjects = list(df['sub_id'].unique())
# for s in subjects:
#     df_s = df[df['subject']==s]
ccc_act = []
pcc_act = []
rmse_act = []
ccc_val = []
pcc_val = []
rmse_val = []
if True:
    for seed in [1, 2, 3, 4, 5]:
        df_s_seed = df[df['seed']==seed]
        val_true = np.array(df_s_seed['gt_valence'])
        val_pred = np.array(df_s_seed['pred_valence'])
        act_true = np.array(df_s_seed['gt_activation'])
        act_pred = np.array(df_s_seed['pred_activation'])
        metric_act = compute_metric_single(act_true, act_pred)
        metric_val = compute_metric_single(val_true, val_pred)
        ccc_act.append(metric_act['CCC'])
        pcc_act.append(metric_act['PCC'])
        rmse_act.append(metric_act['RMSE'])
        ccc_val.append(metric_val['CCC'])
        pcc_val.append(metric_val['PCC'])
        rmse_val.append(metric_val['RMSE'])

60140
PCC: 0.324925910111167 	CCC: 0.2704263190851378 	RMSE: 0.23684532748986048
PCC: 0.5066787886172188 	CCC: 0.4818778653508371 	RMSE: 0.22646240962373637
PCC: 0.32091904862058057 	CCC: 0.26238855341713435 	RMSE: 0.23568393800085202
PCC: 0.5149660611777512 	CCC: 0.4942498701656933 	RMSE: 0.22785768529280193
PCC: 0.3179163896234686 	CCC: 0.2571233473456896 	RMSE: 0.23658788399276542
PCC: 0.5127803678806193 	CCC: 0.48622720698922633 	RMSE: 0.2241998297085977
PCC: 0.3203390546134836 	CCC: 0.2649312030810493 	RMSE: 0.23563764601252837
PCC: 0.5090690299126405 	CCC: 0.48718067783960156 	RMSE: 0.22656133338783385
PCC: 0.312085518725141 	CCC: 0.2534928706487689 	RMSE: 0.23606410401662464
PCC: 0.514546420378105 	CCC: 0.49160636866846796 	RMSE: 0.2253943337115931

In [84]:
def print_mean_std(arr):
    arr = np.array(arr)
    print(arr.mean(), arr.std())

In [90]:
print_mean_std(ccc_act)

0.261672458715556 0.005922201499935163